$primary-blue: #2E3192;
$light-gray:rgb(188, 188, 189);
$primary-aqua: #46C2CB;
$secondary-violet: #6D67E4;
$secondary-yellow: #F2F7A1;


body{
    font-family: "Cabin";
    background-color: black;
}

.navbar{
    background-color: rgb(188, 188, 189,0.8);
    
    li{
        margin: 0 15px;
        a{
            text-transform: uppercase;
            font-weight: bold;
        } 
    }
}

.call__button{
    background-color: $primary-blue;
    border-radius: 15px;
    color: white;
    font-weight: 100;
    i{
        margin-right: 10px;
        
    }
    &:hover{
        background-color: #1C75BC;
    }
}


.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,);
    opacity:0.4;
    z-index: 1;
}
.banner {
    
    height: 100vh;
    min-height: 500px;
    background-image: url(../assets/santateresaclinic.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    .texto__banner{
        color: white;
        position: relative;
        z-index: 2;
        max-width: 37%;
    }
    h1{
        font-family: 'Archivo Black';
    }
    .parrafo__banner{
        font-size: 1.6rem;
        max-width: 80%;
    }
    .contactus__button{
        background-color: $primary-blue;
        border-radius: 20px;
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.2rem;
        i{
            margin-right: 10px;
            
        }
        &:hover{
            background-color: #1C75BC;
        }
    }

}

