$primary-blue: #2E3192;
$head-text: 'Archivo Black';
$light-gray:rgb(188, 188, 189);

$secondary-violet: #6D67E4;
$secondary-yellow: #F2F7A1;


body{
    font-family: "Cabin";
    background-color: black;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.btn {
    transition: transform 0.5s;
    
    &:hover {
        animation: pulsate 1s infinite;
    }
}
.navbar{
    background-color: rgb(188, 188, 189,0.8);
    transition: top 0.5s; /* Add smooth transition */
    padding: 10px;
    display: flex;
    align-items: center;
    .navbar-brand {
        max-width: 30%;
        margin-right: 0px;
        img{
            width: 100%;
        }
    }
    .nav-item{
        text-align: center;
    }
    li{
        margin: 0 15px;
        a{
            text-transform: uppercase;
            font-weight: bold;
            transition: transform 0.3s ease;
            &:hover {
                transform: scale(1.1);
            }
        } 
    }
    .collapse.navbar-collapse {
            
        justify-content: center;
        
    }
    .call__button {
        margin-left: auto;
        
    }
}

.navbar.hidden {
    top: -100px; /* Move navbar off-screen */
}

.call__button{
    background-color: $primary-blue;
    border-radius: 15px;
    color: white;
    font-weight: 100;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
    i{
        margin-right: 10px;
    }
    &:hover{
        background-color: #1C75BC;
    }
}

@media (min-width: 992px) {
    .navbar {
        .collapse.navbar-collapse {
            flex-grow: 1;
            order: 2; /* Move the menu below */
        }
        .call__button__container {
            order: 3; /* Move the call button to the right */
        }
    }
}




.banner {
    background: linear-gradient(to bottom, 
        white 0%,       /* Start with white */
        white 30%,      /* Mostly white */
        $light-gray       /* Ends with blue */
    );
    height: 100vh;
    min-height: 500px;
    background-color: #ffffff; // Fallback color
    overflow: hidden; // Ensure shapes don't overflow
    position: relative;
    z-index: 0;
    .circle{
        position: absolute;
        border-radius: 50%;
        background: #2E3192;
        box-shadow: 0px 0px 10px 0px #000000;
        
    }
    .small{
        width: 400px;
        height: 400px;
        left: -100px;
        bottom: -200px;
    }
    .medium{
        width: 600px;
        height: 600px;
        left: -200px;
        bottom: -300px;
    }
    .large{
        width: 800px;
        height: 800px;
        left: -300px;
        bottom: -400px;
    }
    .xlarge{
        width: 1000px;
        height: 1000px;
        left: -400px;
        bottom: -500px;
    }
    .xxlarge{
        width: 1200px;
        height: 1200px;
        left: -500px;
        bottom: -600px;
    }
    .right__circle{
        width: 75%;
        height: 190%;
        bottom: -400px;
        right: -800px;
        
    }
    .shade1{
        opacity: 0.1;
    }
    .shade2{
        opacity: 0.5;
    }
    .shade3{
        opacity: 0.7;
    }
    .shade4{
        opacity: 0.8;
    }
    .shade5{
        opacity: 0.9;
    }
    .texto__banner{
        color: $primary-blue;
        position: relative;
        z-index: 2;
        max-width: 37%;
        .animate__fadeInLeft{
            animation-delay: 0.1s;
        }
        .animate__fadeInRight{
            animation-delay: 0.4s;
        }
        .animate__fadeInUp{
            animation-delay: 0.7s;
        }
        h1{
            font-family: $head-text;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        }
        .parrafo__banner{
            font-size: 1.6rem;
            max-width: 80%;
            color: black;
        }
        .contactus__button{
            background-color: $primary-blue;
            border-radius: 20px;
            color: white;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1.2rem;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
            i{
                margin-right: 10px;
            }
            &:hover{
                background-color: #1C75BC;
            }
        }
    }
}

@media (max-width: 992px) {
    .banner{
        .texto__banner {
            max-width: 95%;
            h1 {
                font-size: 2rem;
                
            }
            .parrafo__banner {
                font-size: 1.5rem;
                margin-bottom: 50px;
                max-width: 100%;
            }
        }
        .right__circle{
            display: none;        
        }
        .small{
            width: 400px;
            height: 400px;
            left: -100px;
            bottom: -500px;
        }
        
        .medium{
            width: 600px;
            height: 600px;
            left: -200px;
            bottom: -600px;
        }
        
        .large{
            width: 800px;
            height: 800px;
            left: -300px;
            bottom: -700px;
        }
        
        .xlarge{
            width: 1000px;
            height: 1000px;
            left: -400px;
            bottom: -800px;
        }
    
        
        .xxlarge{
            width: 1200px;
            height: 1200px;
            left: -500px;
            bottom: -900px;
        }
    
        
    }
        
}


.location__container {
    display: flex;
    flex-direction: row;
}

.location__info {
    width: 30%;
    padding: 50px;
    background-color: $primary-blue;
    color: white;
    text-shadow: 2px 2px 4px    rgba(0, 0, 0, 0.3);
    h2 {
        font-size: 1.5em;
        font-family: $head-text;
        margin-bottom: 30px;

    }
    p {
        margin-bottom: 25px;
        font-size: 1.1rem;
        a{
            color: white;
            font-weight: 600;
        }
    }
    
}

.whatsapp__button{
    background-color: $light-gray;
    border-radius: 30px;
    color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
    font-family: $head-text;
    font-weight: 800;
    font-size: 1.2rem;
    &:hover{
        background-color: #1C75BC;
    }
    .whatsapp__logo{
        margin-right: 8px;
        width: 30px;
    }
}

.location__map {
    width: 70%;
    
}

@media (max-width: 992px) {

    .location__container {
        flex-direction: column;
        .location__map
        {
            width: 100%;
            height: 400px;
            order: 1;
        }
        .location__info {
            width: 100%;
            text-align: center;
            order: 2;
            padding: 20px;
        }
    }
    
}

.services__container {
    background-color: #fff; /* Change to desired background color */
    background: linear-gradient(to bottom, 
        white 0%,       /* Start with white */
        white 80%,      /* Mostly white */
        #D9D9D9       /* Ends with blue */
    );
    padding: 50px 0;
    text-align: center;
}

.services__title {
    font-size: 2.3rem;
    font-family: $head-text;
    color: $primary-blue;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px    rgba(0, 0, 0, 0.3);
}

.card__container {
    max-width: 620px; /* Adjust as needed */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 10px; /* Gap between cards */
    justify-items: center; /* Center items horizontally */
}

.card {
    width: 100%; /* Occupy full width of the column */
    padding: 28px;
    
    border: 0;
    background-color: rgb(188, 188, 189,0.2);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adding box-shadow to the transition */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    &:hover {
        transform: scale(0.95);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
    }
}

.card__image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover; /* Maintain aspect ratio and cover container */
    object-position: center; /* Center the image within its container */
    margin-bottom: 20px; /* Add margin to separate image from text */
}

.card__title {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.card__text {
    font-size: 16px;
}

@media (max-width: 992px) {
    .services__container{
        .services__title{
            font-size: 1.7rem;
        }
        .card__container {
            grid-template-columns: repeat(1, 1fr);
            .card{
                width: 80%;
            }
        }
    }
}

.contact__container {
    background-color: #D9D9D9; /* Light gray background color */
    background: linear-gradient(to bottom, 
    #D9D9D9 0%,       /* Start with white */
    #D9D9D9 80%,      /* Mostly white */
    #4e87b7      /* Ends with blue */
    );
    padding: 50px 0;
    text-align: center;
    border: none;
}

.contact__tittle__container{
    color: $primary-blue;
    font-family: $head-text;
    font-size: 2.3rem;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.contact__divider {
    width: 30%;
    height: 4px;
    background-color: $primary-blue; /* Black color for the divider */
    display: inline-block;
}

.contact__title {
    display: inline-block;
    text-shadow: 2px 2px 4px    rgba(0, 0, 0, 0.3);
    
    margin: 0 20px; /* Adjust margin to match the divider width */
}

.contact__content {
    margin-top: 20px;
    h3 {
        font-size: 1.6rem;
        
    }
    p {
        font-size: 1.2rem;
    }
}

.footer__container {
    background-color: #4e87b7; /* Blue background color */
    background: linear-gradient(to bottom, 
    #4e87b7 0%,       /* Start with white */
    
    $primary-blue     /* Ends with blue */
    );
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer__logo {
    width: 250px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

.footer__disclaimer {
    font-size: 1.1rem;
    
}

@media (max-width: 992px) {
    .contact__container{
        padding: 30px;
        .contact__divider{
            display: none;
        }
        .contact__title{
            font-size: 1.8rem;
        }
        h3{
            font-size: 1.2rem;
        }
        p{
            font-size: 1rem;
        }
    }
    .footer__container {
        
        padding: 15px;
        .footer__logo{
            width: 150px;
        }
        p{
        font-size: 0.8rem;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        }
    }
}